rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Read only logos
    // logos/*
    match /logos/{allPaths=**}{
      allow read;
    }
    // Read only thumbnails
    // thumbnails/*
    match /logos/{allPaths=**}{
      allow read;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
