<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80251260068-5ndq6kun3m43i50mnk75f7c6m6qact5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80251260068-5ndq6kun3m43i50mnk75f7c6m6qact5n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80251260068-256fdbbvit7lh3jh4e3n2ia8qgk80rv6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIUl8y_hoJX95-G8X58d-cA5rh6q9sF-0</string>
	<key>GCM_SENDER_ID</key>
	<string>80251260068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fifithpint.daoopener</string>
	<key>PROJECT_ID</key>
	<string>fifthpint-common-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fifthpint-common-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80251260068:ios:aa9c1d5d7a484d3036aa31</string>
</dict>
</plist>